@model IEnumerable<dynmicMenu.Models.Entity.Image>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelLayoutPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imagename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageurl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Galery.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imagename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imageurl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Galery.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
